@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "맑은 고딕";
    color: #333;
}
a {
    display: block;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
img {
    vertical-align: top;
}

/* header ------------------------------------------------------------------------------------------------------- */
header {
    width: 100%;
    height: 100px;
    background: rgb(208, 232, 252);
}
.inner {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
header .inner {
    position: relative;
}
.menubg {
    position: absolute;
    left: 520px;
    top: 72px;
    width: 600px;
    height: 164px;
    background: #fff;
    z-index: 997;
    display: none;
}
header nav > ul {
    display: flex;
    width: 600px;
    margin: 0 0 0 320px;
}
header nav a {
    text-align: center;
    background: #fff;
    padding: 10px;
}

.mainmenu {
    position: relative;
    width: 25%;
}
.mainmenu > a {
    font-size: 18px;
    font-weight: 600;
}
.submenu {
    position: absolute;
    width: 100%;
    z-index: 998;
    display: none;
}

.mainmenu:hover > a {
    color: #fff;
    background: rgb(63, 143, 209);
}
.submenu li:hover a {
    color: #fff;
    background: rgb(128, 185, 233);
}
/* popup */
.popupbox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 997;
    display: none;
    border: 1px solid #333;
}
.popup {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.popup button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.popup h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
/* main */

.main {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
/* slide */
.slidecontainer {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slidelist {
    display: flex;
    width: 300%;
    height: 300px;
}
.slide {
    position: relative;
    z-index: -1;
}
.slide p {
    position: absolute;
    background-color: rgb(180, 220, 238);
    padding: 10px;
}
/* content */
.content {
    width: 1200px;
    height: 200px;
    display: flex;
}
.content > * {
    width: 400px;
    height: 200px;
}
/* tabmenu */
.on {
    background-color: rgb(180, 220, 238);
}
.tabmenu {
    display: flex;
}
.tabmenu h2 {
    padding: 10px;
    font-size: 20px;
}
/* notice */
.notice {
    width: 100%;
    /* display: none; */
}
.noticelist li {
    display: flex;
    line-height: 2.39;
}
.noticelist li a {
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
}
.noticelist li p {
    margin-right: 10px;
}
/* gallery */
.gallery {
    width: 100%;
    display: none;
}
.gallerylist {
    height: 153px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}
.gallerylist li a img {
    width: 120px;
}
/* banner */
.banner {
    position: relative;
}
.banner h3 {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link {
    position: relative;
}
.link h3 {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(180, 220, 238);
}
.fwrap {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.fmenu {
    margin: 0 auto;
}
.fmenu p {
    width: 1000px;
    text-align: center;
}
.fmenulist {
    width: 1000px;
    height: 100%;
    display: flex;
    line-height: 50px;
    justify-content: space-around;
    align-items: center;
}
