@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* background-color: #fff; */
    color: #333;
    font-family: sans-serif,'맑은 고딕';
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
img{
    vertical-align: top;
}
.wrapper{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
.popupbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #fff;
    width: 500px;
    height: 300px;
    display: none;
    border: 1px solid #333;
}
.popup{
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 2;
}
.popup h1{
    font-size: 25px;
    text-align: center;
}
.popup p {
    margin: 25px;
}
.popup button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* header */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    width: 600px;
}
header nav >ul{
    display: flex;
}
header nav a {
    text-align: center;
    line-height: 40px;
}

.mainmenu{
    width: 25%;
    position: relative;
}
.mainmenu >a{
    font-weight: bolder;
}
.submenu{
    width: 100%;
    z-index: 998;
    position: absolute;
    background-color: #fff;
    display: none;
}
.mainmenu:hover >a{
    background-color: rgb(26, 96, 161);
    color: #fff;
}
.submenu li:hover >a{
    background-color: rgb(88, 139, 216);
    color: #fff;
}
/* slide */
.slidecontiner{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
}
.slide p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    padding: 10px;
}
/* content */


.content{
    width: 100%;
    height: 200px;
    display: flex;
}
/* tabmenu */
.tab{
    width: 400px;
}
.on{
    background-color: cornflowerblue;
}
.tabmenu{
    display: flex;
    width: 100%;
}
.tabmenu h2{
    padding: 10px;
}
.notice li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39.75px;
}
.notice li a{
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice li p{
    width: 30;
}
.gallery{
    display: none;
}
.gallery >ul{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.gallery a{
    height: 129px;
    margin-top: 15px;
}
.gallery img{
    width: 90%;
    
}
.banner{
    width: 400px;
    position: relative;
}
.banner h2{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
.link{
    width: 400px;
    position: relative;
}
.link h2{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
/* footer */
footer{
    display: flex;
    width: 1200px;
    height: 100px;
    align-items: center;
}
.fwrap{
    width: 100%;
    height: 100px;
    text-align: center;
}
.fmenu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 50px;

}
.fmenu li{
    padding: 0 80px;
}
.fwrap p{
    width: 100%;
    line-height: 50px;
}