@charset "utf-8";

p {
  width:500px;
  height:200px;
  background-color:#eee;
  border:1px solid #ccc;
  line-height:2;
}
#static{ position: static;}
#relative-1{ position: relative;}
#relative-2{
  position: relative;
  left: 200px;
  top: -50px;
}
#fixed{
  width: 100px;
  height: 100px;
  background-color: #222;
  position: fixed;
  right: 30px;
  top: 30px;
}