@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "sans-serif", "맑은 고딕";
    box-sizing: border-box;
    color: #333;
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
img {
    vertical-align: top;
}
.wrapper {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}
/* header */
.logo {
    width: 20%;
    text-align: center;
}
header {
    width: 100%;
    height: 100px;
    background-color: #e5ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    width: 50%;
    height: 40px;
    margin-right: 50px;
}
nav ul {
    display: flex;
    text-align: center;
}
.mainmenu > a {
    font-size: 18px;
}
.mainmenu a {
    width: 150px;
    padding: 10px;
}
.mainmenu:hover > a {
    background-color: #26c6da;
    color: #fff;
}
.mainmenu li:hover a {
    background-color: #b2ebf2;
    color: #fff;
}
.submenu {
    display: inline-block;
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 50;
}
/* main setup*/

/* slide */

.slide {
    width: 100%;
    height: 300px;
    background-color: #26c6da;
}
.slidelist {
    position: relative;
}
.slidelist > .slideitem {
    position: absolute;
    top: 0;
    left: 0;
}
.slidelist p {
    background-color: #26c6da;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* pop */
/* 딤이 필요할 경우 popUpBg 추가 */
.popUpBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}
.popUpBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.popUp {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    border: 1px solid #000;
    background: #fff;
    padding: 20px;
}

.popUp p {
    font-size: 15px;
    margin-top: 10px;
}
.popUp div {
    margin-top: 30px;
}
.popUp button {
    float: right;
    padding: 4px;
    cursor: pointer;
}
/* tab */
.conmenu {
    display: flex;
}
/* content */
.content {
    width: 100%;
    height: 200px;
    display: flex;
}
/* tab */
.content .tab {
    width: 400px;
    height: 200px;
}
.tabmenu {
    display: flex;
}
.tabmenu h3 a {
    font-size: 18px;
    padding: 15.6px;
}
/* notice */
.tab {
    background-color: #b2ebf2;
}
.on {
    background-color: #26c6da;
}
.notice {
    padding: 10px;
    /* display: none; */
    height: 145px;
}
.notice li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.notice > li > a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice > li > p {
    padding-left: auto;
}
/* galley */
.gallery {
    display: flex;
    height: 145px;
    justify-content: space-around;
    align-items: center;
}
.gallery li {
    width: 28.5%;
}
.gallery img{
    width: 100%;
}
.content .banner {
    width: 400px;
    height: 200px;
    background-color: #406c72;
}
.content .shortcuts {
    width: 400px;
    height: 200px;
    background-color: #26c6da;
}

/* banner */
.banner {
    position: relative;
}
.banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
}
/* shortcuts */
.shortcuts {
    position: relative;
}
.shortcuts p {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
}
/* footer */
footer {
    background-color: #b8b8b8;
    display: flex;
    height: 100px;
    align-items: center;
}
.flogo {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 0;
    color: transparent;
}
.fmenu {
    justify-content: space-around;
}

.botright {
    width: 90%;
    text-align: center;
}
.botright * {
    height: 50%;
    line-height: 50px;
}
