@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: none;
    font-size: 16px;
    /* background-color: #fff; */
    color: #333;
    font-family: sans-serif,'맑은 고딕';
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: block;
}
img{
    vertical-align: top;
}

.wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-color: #eee;
}

/* header */
header{

    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    width: 600px;
}
.logo{
    width: 20%;
}
nav > ul{
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: flex-end;

}
nav ul a{
    text-align: center;
    background-color: #fff;
    padding: 10px;
    width: 100px;
}
.mainmenu > a{
    position: relative;
    font-size: 18px;
    font-weight: bolder;
    
}
.submenu{
    display: inline-block;
    position: absolute;
    display: none;
    z-index: 50;
}
ul .mainmenu:hover > a{
    background-color: crimson;
    color: #eee;
}
.submenu li:hover > a{
    background-color: rgb(204, 53, 83);;
}
/* slide */
.slidecontainer{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slidelist{
    width: 100%;
    height: 300%;
}
.slide{
    position: relative;
}
.slidelist .slide p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 2px;
    font-size: 16px;
    font-weight: 500;
}
/* content */
.content{
    width: 1200px;
    height: 200px;
    background-color: aqua;
    display: flex;
}
.tab{
    width: 35%;
    height: 100%;
    background-color: #333;
}
.tabmenu{
    width: 100%;
    height: 20%;
    background-color: aqua;
}
.tablist{
    width: 100%;
    height: 80%;
    background-color: aquamarine;
}

.banner{
    width: 32.5%;
    height: 100%;
    background-color: aquamarine;
}
.link{
    width: 32.5%;
    height: 100%;
    background-color :rgb(204, 53, 83);
}