@charset "UTF-8";

/* common ----------------------------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "맑은 고딕", sans-serif;
    color: #333333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}

/*header -----------------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 100px;
    background: rgb(147, 131, 219);
}
.inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.headerBg {
    position: absolute;
    width: 100%;
    height: 157px;
    left: 0;
    top: 100px;
    background: rgb(118, 79, 223);
    z-index: 997;
    display: none;
}
header h1 {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 0px;
    color: transparent;
}

header .inner > ul {
    display: flex;
    width: 600px;
    margin: 58px 0 0 320px;
}
header ul a {
    display: block;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 10px;
}

li.lv1 {
    position: relative;
    width: 25%;
}
li.lv1 > a {
    font-size: 18px;
    font-weight: 600;
}

ul.lv2 {
    position: absolute;
    width: 100%;
    z-index: 998;
    display: none;
}
ul.lv2 a {
    color: #fff;
    font-size: 14px;
    background: rgb(118, 79, 223);
}

li.lv1:hover > a {
    color: #fff;
    background: rgb(118, 79, 223);
}
ul.lv2 li:hover a {
    color: #000;
    background: #fff;
}

.popUpBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}
.main {
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
/* popUpBox ---------------------------------------------------------------------------------------------------*/
.popUpBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.popUp {
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    border: 1px solid #000;
    background: #fff;
    padding: 20px;
}
.popUp p {
    font-size: 15px;
    margin-top: 10px;
}
.popUp div {
    margin-top: 30px;
}
.popUp button {
    float: right;
    padding: 4px;
    cursor: pointer;
}

/*slideContainer -----------------------------------------------------------------------------------------------------*/
.slideContainer {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slideWrap {
    width: 300%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
}
.slide {
    width: 1200px;
    height: 300px;
}
.slide p {
    position: absolute;
    top: 0px;
    background: rgb(218, 204, 250);
    padding: 10px;
}

/*content -----------------------------------------------------------------------------------------------------*/
.content {
    display: flex;
}
.content > * {
    width: 400px;
}

.notice,
.gallery {
    padding: 10px;
}
.content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.notice li {
    display: flex;
    line-height: 2.2;
}
.notice li a {
    display: inline-block;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.notice li span {
    margin-left: auto;
}
.notice li:hover {
    background: rgb(220, 206, 255);
}

.gallery ul {
    display: flex;
    justify-content: space-between;
}
.gallery li {
    display: inline-block;
    width: 32%;
}
.gallery li a img {
    width: 100%;
    margin-top: 10px;
}

.link {
    position: relative;
}
.link h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    padding: 10px;
}

/*footer -----------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    background: rgb(147, 131, 219);
}
footer p {
    width: 80%;
    color: #fff;
}
.bottomRight {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
}
.bottomRight > * {
    width: 100%;
    height: 50px;
}

.sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sns li {
    display: inline-block;
    flex: 1;
}
.familySite {
    line-height: 50px;
}
