@charset "utf-8";
*{margin: 0;padding: 0;color: #333; box-sizing: border-box; font-size: 16px;}
a{text-decoration: none; display: block;}
img{vertical-align: top;}
li{list-style: none;}

.wrapper{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
}
/* pop */
.popupbox{
    width: 50%;
    height: 50%;
    background-color: #fff;
    border: 1px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 997;
    padding: 20px;
    display: none;
}
.popup{
    position: relative;
    width: 100%;
    height: 100%;
}
.popup h1{
    text-align: center;
    font-size: 22px;
    padding: 20px;
}
.popup p {
    padding-left: 30px;
}
.popup button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    background-color: lightblue;
}
nav{
    width: 50%;
    height: 40px;
    margin-right: 50px;
}
nav > ul{
    display: flex;
    text-align: center;
    width: 100%;
}
.mainmenu{
    width: 25%;
}
.mainmenu >a{
    font-weight: bolder;
}

.mainmenu a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
.submenu{
    display: none;
    z-index: 998;
    height: 160px;
    background-color: #fff;
}
.submenu a{
    width: 100%;
    display: inline-block;
}
.mainmenu:hover > a{
    background-color: rgb(37, 157, 236);
    color: #fff;
}
.submenu li:hover >a{
    background-color: rgb(128, 187, 226);
    color: #fff;
}

/* main */
/* slide */
.slidecontainer{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    
}
.slidelist{
    display: flex;
    width: 300%;
    height: 100%;
    
    
}
.slide{
    width: 1200px;
    height: 300px;
    position: relative;
    z-index: -1;
}
.slide p{
    position: absolute;
    background-color: rgb(128, 187, 226);
    padding: 10px;
}
/* content */
.content{
    display: flex;
}
.content>*{
    width: 400px;
    height: 200px;
}
/* tab */
.on{
    background-color: rgb(128, 187, 226);
}
.tabmenu{
    display: flex;
    
}
.tabmenu h2{
    padding: 10px;
}
/* notice */
/* .noticelist{
    display: none;
} */
.noticelist>li{
    margin-left: 5px;
    line-height: 2.49;
    display: flex;
}
.noticelist li:hover a{
    text-decoration: underline;
}
.noticelist a{
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.noticelist span{
    margin-left: 20px;
}
/* gallery */
.gallery{
    display: none;
    height: 159px;
}
.gallerylist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
}
.gallerylist img{
    width: 125px;
}
/* banner */
.banner{
    position: relative;
}
.banner h3{
    position: absolute;
    background-color: #fff;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link{
    position: relative;
}
.link h3{
    position: absolute;
    background-color: #fff;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* footer */
footer{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: lightblue;
}
.fmenu{
    width: 100%;
    height: 100%;
}
.fmenu ul{
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.fmenu p{
    height: 50%;
    text-align: center;
    line-height: 50px;
}